

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;

}

body{
  min-height: 100vh;
  max-width: 100%;
}

a{
  text-decoration: none;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

  border-radius: 0 0 30px 30px;
  padding: 2rem 3rem;
}

.card-your-result{
  font-size: 1rem;
  color:hsl(241, 100%, 89%);
}

.card-header-score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 130px;
  width: 130px;

  margin: 1rem;
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
}

.card-header-accumulated-score{
  color: white;
  font-size: 3rem;
}

.card-header-total-score{
  color: hsl(241, 100%, 89%);
  font-weight: bold;
  opacity: .7;
}

.card-header-feedback{
  font-size: 1.3rem;
  color: hsl(221, 100%, 96%);
  margin-bottom: .5rem;
}

.card-header-feedback-description{
  text-align: center;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
}

.card-description{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1.5rem;
}

.card-description-title{
  color: hsl(224, 30%, 27%);
  font-size: 1rem;
}

.card-description-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1rem 1.5rem;

}


.card-description-head-holder{
  display: flex;
  gap: 1rem;
}

.card-description-item:nth-of-type(1){
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, .2);
}

.card-description-item:nth-of-type(2){
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, .2);
}

.card-description-item:nth-of-type(3){
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, .2);
}

.card-description-item:nth-of-type(4){
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, .2);
}

.card-description-item-name{
  font-size: .9rem;
}

.card-description-item-score{
  font-weight: bolder;
  color: grey;
  font-size: .9rem;
}

.card-description-item-score .score{
  color: hsl(224, 30%, 27%);
}

.card-description-button{
  color: hsl(221, 100%, 96%);
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
  text-align: center;
  padding-block: 1rem;
  font-weight: 500;

}

.card-description-button:hover,
.card-description-button:active{
  background-color: hsl(224, 30%, 27%);
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;

}

.attribution{
  text-align: center;
  padding-block: 1rem;
  background-color: hsl(224, 30%, 27%);
  color: hsl(241, 100%, 89%);
}

.attribution a{
  color: hsl(241, 100%, 89%);
}

@media (min-width: 768px){
  body{
    display: flex;
    flex-direction: column;
  }
  
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .card{
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: clamp(650px, 60%, 700px);
  }

  .card-header{
    border-radius: 30px;
    flex: 2;
    z-index: 1;
    transform: translateX(3%);
    justify-content: space-around;
  }
  .card-description{
    flex: 3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 10px 20px hsla(224, 30%, 27%, .3);;
  }
}